body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .app {
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
  }
  
  .login-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .content {
    padding: 50px 20px;
  }
  
  .welcome-page {
    text-align: center;
  }
  
  .login-page {
    margin: 0px auto;
    max-width: 4000px;
    text-align: left;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .login-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  